<!-- <ul>
    <li *ngFor="let gif of resultados">
        {{gif.title}}
    </li>
</ul> -->

<div class="row">
    <div *ngFor="let gif of resultados"
        class="col-md-4 col-sm-6 animate__animated animate__fadeIn animate__fast">
        <div class="card m-2">
            <!-- si se quiere ocupar un objeto  de angular dentro de una clase de html tenemos que encerrar la clase en llaves cuadradas -->
            <img [src]="gif.images.downsized_medium.url" [alt]="gif.title" class="card-img-top p-2">
            <div class="card-body">
                <p class="card-text">
                    {{gif.title}}
                </p>
            </div>
        </div>
    </div>
</div>